---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  {% unless post.categories contains "ecoevothought" or post.categories contains "writinggym" or post.categories contains "labnotebook" %}
  <article class="post">
    <h3 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.excerpt }}
    <div style="text-align:right;">
  <a href="{{ post.url }}"> <i> <small> Read More </small> </i> </a>
</div>
  </article>
  {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
